body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: url('background calc.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: -2;
}

.quote {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Handwriting', cursive;
    font-size: 1.8em;
    color: rgb(1, 1, 1);
    text-align: center;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 250px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin-left: 50px;
}

.display {
    grid-column: span 4;
    background-color: #030303;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
    border-radius: 5px;
}

.btn {
    background-color: #000000;
    color: #fff;
    font-size: 1.5em;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d61010;
}

#clear {
    background-color: #e74c3c;
}

#clear:hover {
    background-color: #c0392b;
}

#equals {
    background-color: #2ecc71;
}

#equals:hover {
    background-color: #27ae60;
}
